body {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  background: rgb(25, 23, 23);

  font-family: "Kalam", cursive;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1100px;
  margin: auto;
}

/* Main content */
.main-content {
  color: aliceblue;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 8px;
}

.about-me {
  padding-bottom: 40px;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 8px;
}

.my-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.projects {
  margin-bottom: 34px;
}

.project-items-block {
  list-style: decimal;
  padding-left: 20px;
  line-height: 24px;
}

.work-experiance {
  margin-bottom: 20px;
}

.sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 8px;
}

/* Sidebar */
.sidebar {
  background: #faa936;
  padding-bottom: 40px;
}

.contacts {
  margin-bottom: 34px;
}

.contact-items-block {
  line-height: 24px;
  text-decoration-color: rgb(25, 23, 23);
}

.hard-skills {
  margin-bottom: 40px;
}

.soft-skills {
  margin-bottom: 40px;
}

.sidebar-content-block {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
}

.skills-item-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  list-style: disc;
  padding-left: 20px;
}

/* Localization */
.localization-block {
  text-align: center;
  padding: 10px;
}

.localization-content-block {
  display: inline-flex;
  align-items: center;
}

.localization-item {
  margin: 10px;
}

.checkbox-localization input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-localization *,
.checkbox-localization ::after,
.checkbox-localization ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-localization .switch {
  /* Variables */
  --switch_width: 2em;
  --switch_height: 1em;
  --thumb_color: #e8e8e8;
  --track_color: #e8e8e8;
  --track_active_color: #888;
  --outline_color: #000;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: var(--switch_width);
  height: var(--switch_height);
}

/* The slider */
.checkbox-localization .slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.checkbox-localization .slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

.checkbox-localization input:checked + .slider {
  background-color: var(--track_active_color);
}

.checkbox-localization input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
.checkbox-localization input:hover + .slider:before {
  transform: translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

.checkbox-localization input:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
.checkbox-localization input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

/* Jobs and Education */
.job-cont {
  padding-bottom: 20px;
}

.job-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.job-exp-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  list-style: disc;
  padding-left: 20px;
}

.job-timeline {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  padding-bottom: 8px;
}

/* Common Links */
a:link {
  color: #faa936;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #faa936;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(163, 163, 255);
  background-color: transparent;
  text-decoration: underline;
}

/* Sidebar Links */
a.sidebar-link:link {
  color: rgb(47, 47, 47);
  background-color: transparent;
  text-decoration: none;
}

a.sidebar-link:visited {
  color: rgb(47, 47, 47);
  background-color: transparent;
  text-decoration: none;
}

a.sidebar-link:hover {
  color: rgb(163, 163, 255);
  background-color: transparent;
  text-decoration: underline;
}

/* Media */
@media screen and (max-width: 1270px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .main-content {
    padding-left: 40px;
  }

  img {
    width: 230px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .sidebar-content-block {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .main-content {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0;
  }

  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  img {
    padding-bottom: 20px;
    width: 300px;
  }

  .main-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Font */
div {
  font-family: "Ubuntu", sans-serif;
}

/* Localization Style Logic */
.text {
  display: none;
}

.text-UA {
  display: block;
}
